html{
    background-color: rgb(207, 215, 228);
}

.superdiv{
    background-color: white;
    margin: 50px;
    margin-top: 90px;
    border: 3px double black;
}

.titulo{
    font-family: serif;
    margin-top: 90px;
    font-size: 50px;
}

.subtitulo{
    font-style: italic;
}


.titulo-foto{
    text-align: center;
}

.titulo-sobre{
    margin-left: 25px;
}

.bold{
    font-weight:bold;
}

.p1{
    margin: 20px;
    text-align: justify;
}

.caixa1{
    margin: 20px;
    background-color: rgb(185, 174, 174);
    height: 150px;
    border: 3px dotted black;
    border-radius: 15px;
    
}

blockquote{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
}

.autor1{
    margin-left: 20px;
    font-style: italic;
}

.curiosidades{
    margin-left: 25px;
    margin-right: 25px;
}

.caixa2{
    margin: 20px;
    background-color: rgb(185, 174, 174);
    height: 150px;
    border: 3px dotted black;
    border-radius: 15px;   
}

.autor2{
    margin-left: 20px;
    font-style: italic;
}

.cliqueaqui{
    margin-left: 15px;
    font-weight: bold;
}

.foto1{
    height: 500px;
    width: auto;
}

.imagem2{
    text-align: center;
}

.foto2{
    height: 400px;
    width: auto;  
}